<?xml version="1.0"?>
<launch>

	<arg name="name" default="spinning_lidar" doc="The robot name. Ensure this is the same name you give to the arm in the urdf instance."/>

	<param name="robot_description" command="$(find xacro)/xacro $(find spinning_lidar_description)/urdf/spinning_lidar.urdf.xacro" />

	<node name="lidar_joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
        <rosparam param="source_list">["/spinning_lidar/joint_states"]</rosparam>
        <param name="use_gui" value="false"/>
    </node>
    
    <node name="lidar_robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <param name="use_tf_static" value="false"/>
    </node>

	<param name="use_gui" value="true" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find spinning_lidar_viz)/rviz/live_sensor.rviz" />

</launch>
