<?xml version="1.0"?>
<robot name="hokuyo_ust_20lx" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="hokuyo_ust_20lx_gazebo" params="name lidar_link topic update_rate ray_count min_angle max_angle gpu">
    <xacro:unless value="${gpu == 'true'}">
      <gazebo reference="${lidar_link}">
        <sensor type="ray" name="lidar_sensor">
          <pose>0 0 0 0 0 0</pose>
          <visualize>false</visualize>
          <always_on>true</always_on>
          <update_rate>${update_rate}</update_rate>
          <ray>
            <scan>
              <horizontal>
              <samples>${ray_count}</samples>
              <resolution>1</resolution>
              <min_angle>${min_angle * M_PI/180}</min_angle>
              <max_angle>${max_angle * M_PI/180}</max_angle>
              </horizontal>
            </scan>
            <range>
              <min>0.08</min>
              <max>60.0</max>
              <resolution>0.01</resolution>
            </range>
            <noise>
              <type>gaussian</type>
              <mean>0.0</mean>
              <stddev>0.004</stddev>
            </noise>
          </ray>
          <plugin name="gazebo_ros_${name}" filename="libgazebo_ros_laser.so">
            <topicName>${topic}</topicName>
            <frameName>${lidar_link}</frameName>
          </plugin>
        </sensor>
        <material>Gazebo/DarkGrey</material>
      </gazebo>
    </xacro:unless>

    <xacro:if value="${gpu == 'true'}">
      <gazebo reference="${lidar_link}">
      <sensor type="gpu_ray" name="lidar_sensor_gpu">
        <pose>0 0 0 0 0 0</pose>
        <visualize>false</visualize>
        <always_on>true</always_on>
        <update_rate>${update_rate}</update_rate>
        <ray>
        <scan>
          <horizontal>
          <samples>${ray_count}</samples>
          <resolution>1</resolution>
          <min_angle>${min_angle * M_PI/180}</min_angle>
          <max_angle>${max_angle * M_PI/180}</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.08</min>
          <max>60.0</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.004</stddev>
        </noise>
        </ray>
        <plugin name="gazebo_ros_${name}_gpu" filename="libgazebo_ros_gpu_laser.so">
          <topicName>${topic}</topicName>
          <frameName>${lidar_link}</frameName>
        </plugin>
      </sensor>
      <material>Gazebo/DarkGrey</material>
      </gazebo>
    </xacro:if>
  </xacro:macro>

  <gazebo>
    <plugin name="ir_interrupt_plugin" filename="libir_interrupt_plugin.so">
      <joint>lidar_spin_joint</joint>
      <frame_id>laser_mount</frame_id>
      <half_cycle_int>true</half_cycle_int>
      <angle_tol>0.002</angle_tol> 
    </plugin>
  </gazebo>

</robot>