<?xml version="1.0"?>
<robot name="rotating_mount_v2" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="lidar_spin_joint_transmission">
    <transmission name="lidar_spin_joint_tran">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="lidar_spin_joint">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      </joint>  
      <actuator name="lidar_spin_joint_motor">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission> 
  </xacro:macro>
</robot>
