<?xml version="1.0"?>
<launch>

  <arg name="name" default="spinning_lidar" doc="The robot name. Ensure this is the same name you give to the arm in the urdf instance."/>

  <!-- Robot description -->
  <include file="$(find spinning_lidar_description)/launch/description.launch"/>

  <!-- Joint and robot state publishers -->
  <node name="model_joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="model_robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" /> 

  <!-- Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find spinning_lidar_launch)/rviz/model.rviz" />

</launch>
