<?xml version="1.0"?>
<launch>    
    <node name="lidar_jointstates_publisher_node" pkg="spinning_lidar_motor_control" type="lidar_jointstates_publisher" output="screen">
		<param name="motor_state_topic" value="/spinning_lidar/motor_state"/>
		<param name="lidar_platform_link" value="laser_mount"/>
		<param name="lidar_axis_link" value="laser_axis"/>
		<param name="spinning_lidar_joint" value="lidar_spin_joint"/>
		<param name="startup_delay" value="0"/>
    </node>
</launch>