<?xml version="1.0"?>
<launch> 

  <rosparam file="$(find spinning_lidar_motor_control)/config/controllers.yaml" command="load" />
  <arg name="spin_joint_controllers" default="spinning_lidar_joint_states
                                              spinning_lidar_joint_vel_controller"/>
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="$(arg spin_joint_controllers)" />

</launch>